<div class="container text-center"><h2>About US</h2>
<p>We are DevMatch. Our company focuses on creating an exclusive community
for developers and entrepeneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, sint delectus nobis iure ipsam similique ullam fuga ex tempora ea odit cum hic consequatur in itaque quisquam exercitationem ducimus culpa.</p>
</div>